/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;    
}

/* Estilos del header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1a202c;
    padding-bottom: 13px;
    padding-top: 13px;
    width: 100%;
}

#appName {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#icono{
    color:white;
    font-size: 30px;
}
.logo-container {
    display: flex;
    align-items: center;
    margin-left: 2.5em;
}

.logo-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#menu-hamburguesa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-right: 2.5em;
}

/* Estilos del menú desplegable */
#hamburguesa {
    display: none;
}

.menu {
    background-color: #1a202c;
    bottom: 0;
    height: 40%;
    left: 0;
    position: fixed;
    top: 10%;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: -1;
}

#hamburguesa:checked~.menu {
    transform: translateY(0);
}
.menu li {
    padding: 1rem;
    margin: 1px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid white; 
}

.menu li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block; 
    padding: 1.33rem; 
}

.menu li:hover {
    background-color: #417BBD;
}

/*diseño de configuracion php*/
